* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  height: 200vh;
  font-family: "Tagesschrift", system-ui;
  background-image: url(img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  height: 5%;
  display: flex;
  align-items: center;
}

.hero-content {
  height: 85%;
  justify-content: center;
  align-items: center;
}
.hero-content__1 {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  overflow: hidden;
  width: 100vw;
}
.hero-content__1__pic {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content__1__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: #1e092d;
}
.hero-content__2 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  height: 50%;
}

.hero-content__1__pic img {
  height: 37.68vh;
  border: 4px solid #1e092d;
  border-radius: 50%;
}

h1 {
  color: #1e092d;
}

h3 {
  color: #1e092d;
}

.footer {
  height: 5%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
}
.footer__text {
  margin-left: 450px;
}

.footer img {
  height: 8.7vh;
  width: 4.7vw;
  border: none;
}

#linkedin {
  border: 4px solid black;
}

.logos {
  display: flex;
  gap: 10px;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

a:hover {
  color: #1e092d;
}

img {
  width: 300px;
  height: 300px;
  border: 2px solid black;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 48px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color: #1e092d;
  background: rgba(128, 128, 128, 0.75);
  border-radius: 34px;
  padding: 3px;
}

.panel p {
  font-size: 24px;
  position: absolute;
  bottom: 60px;
  left: 20px;
  margin: 0;
  opacity: 0;
  color: black;
  background: rgba(128, 128, 128, 0.75);
  border-radius: 34px;
  padding: 10px;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active .view {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.view {
  font-size: 24px;
  position: absolute;
  bottom: 6px;
  left: 500px;
  margin: 0;
  opacity: 0;
  color: black;
  background: rgba(128, 128, 128, 0.75);
  padding: 10px;
  border-radius: 24px;
}

.view:hover {
  background: #1e092d;
  color: white;
}

@media (max-width: 480px) {
  .hero-content__1 {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */